@model List<StaffGetPutDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Image</th>
        <th>Title</th>
        <th>Number</th>
        <th>Update</th>
        <th>Delete</th>
        <th>Destroy</th>
        <th>Details</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Id</th>
            <th>@item.Name</th>
            <td>
                @if (item.Image != null)
                {
                    var base64 = Convert.ToBase64String(item.Image);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    <img src="@imgSrc" width="80" height="70" />
                }
            </td>
            <th>@item.Title</th>
            <th>@item.Number</th>
            <th><a asp-action="Update" asp-route-id="@item.Id" class="btn btn-info">Update</a></th>
            <th><a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-warning">Delete</a></th>
            <th><a asp-action="Destroy" asp-route-id="@item.Id" class="btn btn-danger">Destroy</a></th>
            <th><a href="#" class="btn btn-dark">Details</a></th>
        </tr>
    }
</table>

<a href="/admin/Staff/Add/" class="btn btn-info">New Personel</a>
